extends layout

block canonical
    link(rel="canonical", href=url)

block content
    div.middle-content
        div.logo(role="banner")
        p.subtitle Striving for an open source replica RuneScape Classic, and more!
        hr.homepage-rule
        center
            table(width='500' bgcolor='black' cellpadding='4' border='0' style='font-size: 14px; font-family: Arial,Helvetica,sans-serif;')
                tr
                    td.e
                        center
                            b Anyone can play on the Worlds below
                            br
                            | Each world can hold up to 2000 players
                            br
                            br
                            table(style='font-size: 12px; font-family: Arial,Helvetica,sans-serif;')
                                tr(valign='top')
                                    td(align='center' width='300')
                                        table
                                            tr
                                                td(colspan='2')
                                                    img(align='absmiddle' src='/static/images/usflag.gif' width='30' height='15' border='0')
                                                    |  Raleigh
                                            tr
                                                td(valign='center')
                                                    a(style='color: rgb(144, 192, 64) !important; TEXT-DECORATION: none;' href='/download') RSC Preservation
                                                td(align='right')
                                                    if preservationonline !== ""
                                                        | #{preservationonline}
                                            tr
                                                td(valign='center')
                                                    a(style='color: rgb(144, 192, 64) !important; TEXT-DECORATION: none;' href='/download') RSC Cabbage
                                                td(align='right')
                                                    if cabbageonline !== ""
                                                        | #{cabbageonline}
                                            tr
                                                td(valign='center')
                                                    a(style='color: rgb(144, 192, 64) !important; TEXT-DECORATION: none;' href='/download') RSC Uranium
                                                td(align='right')
                                                    if uraniumonline !== ""
                                                        | #{uraniumonline}
                                            tr
                                                td(valign='center')
                                                    a(style='color: rgb(144, 192, 64) !important; TEXT-DECORATION: none;' href='/download') RSC Coleslaw
                                                td(align='right')
                                                    if coleslawonline !== ""
                                                        | #{coleslawonline}
            hr.homepage-rule
        div.home-buttons
            a.large-button.play(href="/play", alt="Select a server to play Open RuneScape Classic (RSC)", title="Select a server to play RSC")
                h2 Server
                    br
                    | Details
            a.button.launcher-button(href="/download", alt="Download the game launcher", title="Download the game launcher") Play Now
            a.button.discord(target="_blank", rel="noopener", href="https://discord.gg/mTBXvu2", alt="Join us to chat on our Discord server", title="Join us to chat on our Discord server") Discord
            a.button.wiki(target="_blank", rel="noopener", href="https://rsc.wiki", alt="View the RuneScape Classic Wiki: Your source for all information about RSC", title="View the RuneScape Classic Wiki: Your source for all information about RSC") Wiki
            a.button.code(href="/code", alt="View the Open RuneScape Classic source code", title="View the Open RuneScape Classic source code") Code
                br
                | &amp; Bug Report

            a.button.single-player(href="/news", alt="See the latest newsposts, releases, and updates", title="See the latest newsposts, releases, and updates") Latest
                br
                | News
            a.button.faqs(href="/faq", alt="Read rules and frequently asked questions about the game", title="Read rules and frequently asked questions about the game") Rules
                br
                | &amp; FAQ
            a.button.rscplus(target="_blank", rel="noopener", href="https://rsc.plus", alt="Watch authentic gameplay through a custom replay client", title="Watch authentic gameplay through a custom replay client") RSC+

        hr.homepage-rule

        div.index-middle-bottom
            //-div.recent-patches
                h3.center Recent Updates
                ul
                    for note, index in notes
                        if index === 4
                            - break
                        li.center
                            a(href="/news#" + note.title) #{note.title} (#{note.date})//
            div.live-feed(style='background-color: black;')
                h3.center Live Feed
                ul
                    for item, index in live_feed
                        li.center
                            - let link = '';
                            if item.server === 'cabbage'
                                a(href="/cabbage")
                                    img(src="/static/images/items/18.png", height="16px", alt="RSC Cabbage server", title="RSC Cabbage server")
                                a(href='/cabbage/player/' + item.username) #{item.username}
                                |  !{item.message}
                            else if item.server === 'openrsc'
                                a(href="/openrsc")
                                    img(src="/static/images/items/81.png", height="16px", alt="RSC Preservation server", title="RSC Preservation server")
                                a(href='/openrsc/player/' + item.username) #{item.username}
                                |  !{item.message}
                            else if item.server === 'uranium'
                                a(href = "/uranium")
                                    img(src="/static/images/uranium_logo_hover.png", height="16px", alt="RSC Uranium server", title="RSC Uranium server")
                                a(href='/uranium/player/' + item.username) #{item.username}
                                |  !{item.message}
                            else if item.server === 'coleslaw'
                                a(href = "/coleslaw")
                                    img(src="/static/images/coleslaw_logo_hover.png", height="16px", alt="RSC Coleslaw server", title="RSC Coleslaw server")
                                a(href='/coleslaw/player/' + item.username) #{item.username}
                                |  !{item.message}
                hr
